@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
.recap-row {
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    margin-bottom: 7mm;
    background-color: rgb(158, 223, 228);
    border-radius: 7px;
}


.recap-row > *{
    flex:1;
}


.row-info {
    display: block;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.row-info img{
    width:100px;
    height: 100px;
    border-radius: 50px;
    border: 1px solid gray;
    margin: 0 50%;
    transform: translateX(-50%);
}

.row-info  p{
    text-align: center;
    margin-top: 0;
}

.price {
    text-align: center;
}

.plusMinus {
    flex:2;
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}