.plus-minus{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.together {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.drawerMenu{
    display: flex;
    padding-top: 11px;
    justify-content: space-evenly;
    background-color: #ffffff;
    border-radius: 1rem 1rem 0 0;
}

.order-item {
    width: 50vw;
}

i{
    padding-right: 1rem;
    padding-left: 1rem;
}

.order{
    justify-content: space-between;
    display: inline-block;
}

.footerMenu {
    margin-top:5px;
    background-color: white;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 50px #3f3f3f;
}

.footerMenu:hover {
    cursor: pointer;
}

.main{
    position: relative;
    /* height: 100vh; */
    max-height: 100vh;
}

#filters{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 10px;
    height: 5vh;
    box-shadow: 0 8px 5px #ccc;
    line-height: 4vh;
}

#filters > div:hover {
    cursor: pointer;
}

#filters:focus {
    color: lightgray;
}

.item-card {
    background-color: #DDFFF7;
    height: 100%;
    max-height: 25vh;
    width: 100%;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
}

.menu-list{
    height: 75vh;
    overflow-y: scroll;
    padding: 13px;
    display: grid;
    grid: auto auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
}


.img-display{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

}
.orderItemsMenu{
    justify-content: center;
    display: flex;
    align-items: center;
}
.button-1 {
    background-color: rgba(248, 21, 209, 0.78);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    float: left
}

.priceMenu{
    font-family: 'Courier New', monospace;
    font-weight: bold;
}
.dish{
    text-transform: capitalize;
}

.description{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;

}


