#titles{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 40px;
    letter-spacing: -1.4px;
    word-spacing: -0.8px;
    color: #3187AC;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}
