p {
    text-align: center;
}

#return-home {
    width: 30vw;
    padding: 5vh;
    cursor: pointer;
    border-radius: 45px;
    box-shadow: 5px 5px 5px #660000;
    background-color: rgba(204,25,0,0.4);
    color:white;
    text-align: center;
    font: 900 20px sans-serif;
    margin: auto;
}

.button-container {
    text-align: center;
    width: 100vw;
    position: absolute;
    bottom: 5vh;
}