h1 {
    text-align: center;
    font-family:  Impact, Charcoal, sans-serif;
    font-size: 60px;
    letter-spacing: -1.4px;
    word-spacing: -0.8px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

h1 > span:first-child {
    color: deepskyblue;
}

h1 > span:last-child {
    color: indianred;
}